#form_login{
    width:42%;
    height:64vh;
    background-color:rgb(241, 237, 237);
    border-radius:2px;
    box-shadow:4px 6px 7px #000;
    position:absolute;
    top:75px;
    margin:10px;

    .h1_login{
        text-align:center;
        margin:35px 15px;
    }
    .field_div{
        display:flex;
        flex-direction:column;
    }

    label{
        width:100%;
        font-size:20px;
        margin:10px 2px 5px 4.5rem;
    }
    input{
        width:70%;
        height:42px;
        border:2px solid #000;
        margin:2px 2px 15px 5rem;
        border-radius:2px;
        background-color:rgb(189, 195, 195);
        font-size:18px;
        padding-left:10px;

        &:focus{
            outline: 3px solid rgb(25, 25, 137);
            border:none;
        }
    }


    .button_login{
        width:140px;
        height:35px;
        font-size:18px;
        font-weight: 600;
        color:#fff;
        background-color:blue;
        border-radius:10px;
        border:none;
        position:absolute;
        top:75%;
        left:35%;
        cursor:pointer;

        &:hover{
            color:rgb(215, 210, 210);
            background-color:rgb(37, 37, 145);
        }
    }

    .field_links{
        width:100%;
        position:absolute;
        bottom:10px;
        left:10px;

        p{
            font-weight:500;
            font-size: 18px;
        }

        a{
            color:blue;
            text-decoration:none ;
            font-weight:600;

            &:hover{
                color:rgb(53, 53, 161);
            }
        }
    }
}
