.error{
    width:42%;
    height:50px;
    margin:14px;
    text-align: center;
    padding-top:15px;
    background-color:rgba(164, 41, 41, 0.833);
    color:#fff;
    font-weight:bold;
    font-size: 20px;
}

.sussec_msg{
    width:42%;
    height:50px;
    margin:14px;
    text-align: center;
    padding-top:15px;
    background-color: green;
    font-weight:bold;
    font-size: 20px;
    color:#fff;
}
.error_msg{
    width:42%;
    height:50px;
    margin:14px;
    text-align: center;
    padding-top:15px;
    background-color: rgb(188, 18, 18);
    font-weight:bold;
    font-size: 20px;
    color:#fff;
}