*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
body{
    width:100%;
    background-color:rgba(153, 150, 154, 0.52);
    display:flex;
    align-items: center;
    flex-direction:column;
}

@import './msg.scss';
@import './formLogin.scss';
@import './formCadastro.scss';
@import './crud.scss';
@import './navBar.scss';
@import './footer.scss';