<form action="" method="post" id="form_login">
        <h1 class="h1_login">Login</h1>
        <div class="field_div">
            <label for="email" class="label_name">Email</label>
               <input type="text" name="email" placeholder="_" id="email" class="field_email" required>
        
            <label for="">password:</label>
               <input type="password" name="password" placeholder="_" id="password" class="field_password" required> 
        </div>
        
        <button type="submit" class="button_login">To Enter</button>

        <div class="field_links">
                <a href="">Forgot password?</a>
                <p>Still not Registered? <a href="/cadastrar">register</a></p>
        </div>
</form>