{{#each erros}}
    <div class="error">{{texto}}</div>
{{/each}}

<form action="/cadastro" method="post" id="form_cadastro">
    <h1>Registration Form</h1>

    <div class="field_inputs">
        <label for="">Name: </label>
        <input type="text" name="name" placeholder="_examplo">

        <label for="">Age:</label>
        <input type="number" name="age" placeholder="_20">

        <label for="">Email:</label>
        <input type="email" name="email" placeholder="_examplo@gmail.com">

        <label for="">Password:</label>
        <input type="password" name="password">

        <label for="">Confirm Password:</label>
        <input type="password" name="password2">
    </div>

    <button type="submit" class="btn_cadastro">register</button>

    <p class="phaf_login">Do you want to Login? <a href="/login" class="link_login">Login</a></p>
    
</form>